
<div class="container">
    <div *ngIf="userTaskService.taskList.length > 0">
        <h2 style="text-align: center; color: rgb(2, 134, 22); font-weight: 500;">Completed Task</h2>
        <table class="table">
            <thead>
                <tr  class="table-primary">
                    <th>Sr</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Time(HH:MM:SS)</th>
                    <th colspan="2" style="text-align: center;">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of userTaskService.taskList let i = index">
                    <td>{{i+1}}</td>
                    <td class="overflow-scroll">{{task.title}}</td>
                    <td class="overflow-scroll">{{task.description}}</td>
                    <td>{{task.time | customtime}}</td>
                    <td><button class="btn btn-warning btn-width" (click)="editTask(i)">Edit</button></td>
                    <td><button class="btn btn-danger btn-width" (click)="deleteTask(i)">Delete</button></td>
                   
                </tr>

            </tbody>
        </table>
    </div>
    <div *ngIf="userTaskService.taskList.length <= 0">
        <h1 style="text-align: center">Task is not completed by you</h1>
    </div>

</div>